@import "tailwindcss";

@theme {
  --font-tommy-regular: "MADETOMMY_Regular", sans-serif;
  --font-tommy-light: "MADETOMMY_Light", sans-serif;
  --font-tommy-black: "MADETOMMY_Black", sans-serif;
  --font-tommy-bold: "MADETOMMY_Bold", sans-serif;
  --font-tommy-extrabold: "MADETOMMY_ExtraBold", sans-serif;
  --font-tommy-medium: "MADETOMMY_Medium", sans-serif;
}

.radial {
  background: #414141;
  background: radial-gradient(
    circle,
    rgba(65, 65, 65, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
